xsd/A2.xsd_ex5.1.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="alumno">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="nombre" type="xs:string" />
                <xs:element name="dni" type="xs:integer"/>
                <xs:element name="direccion" type="xs:string"/>
                <xs:element name="edad" type="xs:decimal"/>
                <xs:element name="telefono" type="xs:integer"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>