xsd/A2_xsd_ex4.1.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="alumnos">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="alumno" maxOccurs="unbounded"/>
                    <xs:sequence>
                        <xs:element name="nombre" type="xs:string" maxOccurs="unbounded"/>
                        <xs:element name="apellido" type="xs:string" maxOccurs="unbounded"/>
                    </xs:sequence>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>