xsd/A2_xsd_ex3.1.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="nota">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="para" type="xs:string" />
                <xs:element name="de" type="xs:string"/>
                <xs:element name="asunto" type="xs:string"/>
                <xs:element name="cuerpo" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>